@import "tailwindcss";
@import "uniwind";
/* https://github.com/heroui-inc/heroui-native/blob/rc/src/styles/variables.css */
@import "heroui-native/styles";

@import "./themes/alpha.css";
@import "./themes/lavander.css";
@import "./themes/mint.css";
@import "./themes/sky.css";

@source "../../node_modules/heroui-native/lib";

@layer theme {
  :root {
    @variant light {
      --font-normal: "Inter-Regular";
      --font-medium: "Inter-Medium";
      --font-semibold: "Inter-SemiBold";
      --font-bold: "Inter-Bold";

      --radius: 0.5rem;
    }

    @variant dark {
      --font-normal: "Inter-Regular";
      --font-medium: "Inter-Medium";
      --font-semibold: "Inter-SemiBold";
      --font-bold: "Inter-Bold";

      --radius: 0.5rem;
    }
  }
}
